<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  <li>
    <a href=" http://lattes.cnpq.br/8563560554688579" itemprop="sameAs">
      <i class="ai ai-lattes-square ai-fw"></i> Currículo Lattes
    </a>
  </li>
<li>
    <a href="https://orcid.org/0000-0002-8447-8460" itemprop="sameAs">
      <i class="ai ai-orcid-square ai-fw"></i> ORCID
    </a>
  </li>

  <li>
    <a href="https://www.researchgate.net/profile/Edberto_Lima" itemprop="sameAs">
      <i class="ai ai-researchgate-square ai-fw"></i> ResearchGate
    </a>
  </li>


